<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>post</title>
    <style>
        body{
           background: url("https://www.walldevil.com/wallpapers/a33/design-colorful-amazing-wallpapers-freewallpapers-wallpaper-abstract.jpg");
           background-size: cover;
           background-repeat: no-repeat;
           -webkit-background-size: cover;
            text-align: center;
       }
    </style>
</head>
<body>
<form method="POST" enctype="multipart/form-data">
       {% csrf_token %}
       {{ form }}
       <input type="submit" class="btn btn-default" value="Add a picture">
     </form>


   </form>


</body>
</html>