<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Success Page</title>
    <style>
        body{
           background: url("https://www.walldevil.com/wallpapers/a33/design-colorful-amazing-wallpapers-freewallpapers-wallpaper-abstract.jpg");
           background-size: cover;
           background-repeat: no-repeat;
           -webkit-background-size: cover;
            text-align: center;
            font-family: Cambria;
       }
    </style>
</head>
<body>
Successfully signed up! Please continue to login!<br>
    <form action="/login/" method="get">
        <input type="submit" class="btn btn-default" value="Login">

</body>
</html>